#translator {
  .select-type {
    .columns {
      line-height: 1.5em;
    }
    #translate-button {
      margin-bottom: 0;
    }
  }

  #translate-source {
    resize: vertical;
  }

  #translate-result {
    @include form-element;
    background-color: $input-disabled-bg;
    white-space: pre-wrap;
    overflow: auto;
  }

  #translate-source, #translate-result {
    height: 10em;
  }
}